.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div.label {
    grid-column: 1/2;
    border: 1px solid black;
}

div.inputField {
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

div.inputField select{
    width: 100%;
    background-color: white;
    text-align: center;
    appearance: none;
}